.board {
  color: #21d7d8;
  --board-rows: 10;
  --board-columns: 10;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 500px;
  height: 500px;
  border: 1px solid #21d7d8;
  display: grid;
  grid-template-columns: repeat(var(--board-columns), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
}
.mainBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}
.cell {
  border: 1px solid #21d7d8;
  cursor: crosshair;
  transition: background-color 0.1s ease-in-out;
  font-size: xx-small;
}

.cell:hover {
  background-color: rgb(33, 215, 216);
  color: white;
}

.player {
  font-size: xx-large;
  font-weight: bold;
  padding: 5%;
}
